.dialog
{
	width: 80% !important;
	left: 10% ! important;
	top: 10% !important;
}
.dialog .magento_content
{
	width: 100% !important;
}

body.hide-seo-results .contains-seo-results .seo-results-container > div:first-child
{
	width: 92% !important;
}
.dialog.contains-seo-results .magento_buttons
{
	float: right;
}
.reload-seo-scores
{
	float: right;
	width: 30% !important;
}

.reload-seo-scores .seo-toggle-button
{
	float: right;
}

.contains-seo-results .reload-seo-scores
{
	margin-top: 40px;
	margin-bottom: 20px;
}
body.hide-seo-results .reload-seo-scores > .seo-results > .base-score > p,
body.hide-seo-results .reload-seo-scores > .seo-results > .seo-rules
{
	display: none;
}
body.hide-seo-results .reload-seo-scores
{
	width: 8% !important;
}
.contains-seo-results .seo-results-container > div
{
	width: 70%;
	float: left;
}
body.hide-seo-results .reload-seo-scores > .seo-results > .base-score
{
	text-align: center;
	display: inline-block;
}

body.hide-seo-results .reload-seo-scores .seo-toggle-button
{
	float: none !important;
	margin-top: 10px;
}

#content.main-col > .main-col-inner > form#product_edit_form,
#content.main-col > .main-col-inner > div#category-edit-container > form#category_edit_form
{
	float: left;
	width: 70%;
}
body.hide-seo-results #content.main-col > .main-col-inner > form#product_edit_form,
body.hide-seo-results #content.main-col > .main-col-inner > div#category-edit-container > form#category_edit_form
{
	width: 92%;
}

.seo-score {
	background-color: #6dbb4a;
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 29px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 10px;
}
.seo-rules {
	border-top: 1px solid #d6d6d6;
}
.seo-rules > table
{
	width: 100%;
}
.seo-results
{

	padding-left: 25px;
}
.seo-box
{
	background-color: #F4F4F4;
	border: 1px solid #EDEDED;
	padding: 5px;
	margin-bottom: 20px;
}
.seo-rule > td
{
	border-left: 1px solid #d6d6d6;
	border-right: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	background-color: #fafafa;
	color: #333;
	padding: 5px !important;
}
.seo-rule > .indicator
{
	background-color: #fafafa;
	vertical-align: middle;
	text-align: center;
	width: 12px;
	padding-left: 9px !important;
	padding-right: 8px !important;
}
.seo-rule > .indicator > .indicator-dot
{
	width: 12px;
	height: 12px;
	border-radius: 100px;
	opacity: 0.7;
}
.seo-score
{
	font-size: 20px;
	font-weight: bold;
}
.base-score > p
{
	margin-bottom: 15px;
}
.select2-container
{
	min-width: 200px;
}

.base-score > .messages
{
	display: none;
}

body.hide-seo-results .base-score > .messages
{
	display: none !important;
}