<?xml version="1.0" encoding="UTF-8"?>
<!-- /**
 * @category   Reload
 * @package    Reload_Seo
 * @copyright  Copyright (c) 2013-2015 AndCode (http://www.andcode.nl)
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */ -->
<config>
    <modules>
        <Reload_Seo>
            <version>1.0.0</version>
        </Reload_Seo>
    </modules>
    <global>
        <blocks>
            <reload_seo>
                <class>Reload_Seo_Block</class>
            </reload_seo>
        </blocks>
        <helpers>
            <reload_seo>
                <class>Reload_Seo_Helper</class>
            </reload_seo>
        </helpers>
        <models>
            <reload_seo>
                <class>Reload_Seo_Model</class>
                <resourceModel>reload_seo_resource</resourceModel>
            </reload_seo>
            <reload_seo_resource>
                <class>Reload_Seo_Model_Resource</class>
                <entities>
                    <score>
                        <table>reload_seo_score</table>
                    </score>
                    <scores_rule>
                        <table>reload_seo_scores_rule</table>
                    </scores_rule>
                </entities>
            </reload_seo_resource>
        </models>
        <resources>
            <reload_seo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reload_seo_write>
            <reload_seo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reload_seo_read>
            <reload_seo_setup>
                <setup>
                    <module>Reload_Seo</module>
                </setup>
            </reload_seo_setup>
        </resources>
        <events>
            <catalog_product_delete_after>
                <observers>
                    <reload_seo>
                        <type>singleton</type>
                        <class>reload_seo/observer</class>
                        <method>catalogProductDeleteAfter</method>
                    </reload_seo>
                </observers>
            </catalog_product_delete_after>
            <catalog_category_delete_after>
                <observers>
                    <reload_seo>
                        <type>singleton</type>
                        <class>reload_seo/observer</class>
                        <method>catalogCategoryDeleteAfter</method>
                    </reload_seo>
                </observers>
            </catalog_category_delete_after>
            <catalog_product_save_after>
                <observers>
                    <reload_seo>
                        <type>singleton</type>
                        <class>reload_seo/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </reload_seo>
                </observers>
            </catalog_product_save_after>
            <catalog_category_save_after>
                <observers>
                    <reload_seo>
                        <type>singleton</type>
                        <class>reload_seo/observer</class>
                        <method>catalogCategorySaveAfter</method>
                    </reload_seo>
                </observers>
            </catalog_category_save_after>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <reload_seo>
                        <type>singleton</type>
                        <class>reload_seo/observer</class>
                        <method>prepareLayoutAfter</method>
                    </reload_seo>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <reload_seo>
                        <type>singleton</type>
                        <class>reload_seo/observer</class>
                        <method>prepareLayoutBefore</method>
                    </reload_seo>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <catalog_product_collection_load_before>
                <observers>
                    <reload_seo>
                        <type>singleton</type>
                        <class>reload_seo/observer</class>
                        <method>catalogProductCollectionLoadBefore</method>
                    </reload_seo>
                </observers>
            </catalog_product_collection_load_before>
            <adminhtml_catalog_product_grid_prepare_massaction>
                <observers>
                    <reload_seo>
                        <type>singleton</type>
                        <class>reload_seo/observer</class>
                        <method>prepareProductGridMassactions</method>
                    </reload_seo>
                </observers>
            </adminhtml_catalog_product_grid_prepare_massaction>
            <core_block_abstract_to_html_after>
                <observers>
                    <reload_seo>
                        <type>singleton</type>
                        <class>reload_seo/observer</class>
                        <method>afterToHtml</method>
                    </reload_seo>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </global>
    <admin>
        <routers>
            <reload_seo>
                <use>admin</use>
                <args>
                    <module>Reload_Seo</module>
                    <frontName>reload_seo</frontName>
                </args>
            </reload_seo>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <reload_seo>
                    <file>reload_seo.xml</file>
                </reload_seo>
            </updates>
        </layout>
	   <translate>
            <modules>
                <Reload_Seo>
                    <files>
                        <default>Reload_Seo.csv</default>
                    </files>
                </Reload_Seo>
            </modules>
        </translate>
    </adminhtml>
</config>